footer{
    background-color: var(--secondary);
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem var(--primaryDark) 
}
.contact{
    padding: 1rem;
}
.footerText{
    margin-top: 2rem;
    padding: 1rem;
    color: var(--white);
    font-size: 1rem;
}

