html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    
}
.container{
    background: rgb(201,247,196);
    background: linear-gradient(0deg, rgba(201,247,196,0.7693452380952381) 0%, rgba(253,255,252,0.6488970588235294) 73%);
    background-size: cover;
    background-repeat: no-repeat;
   margin: 0;

}
h1,
h2,
p{
    font-family: var(--mainFont);
    margin: 0;
}
h1{
    font-size: 4rem;
    
}
h2{
    font-size: 2.5rem;
}
p{
    font-size: 2rem;
}
ul{
    list-style: none;
}
a{
    color: var(--black);
    text-decoration: none;
}
.align-center{
    text-align: center;
}