footer{
    background-color: var(--primary);
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem var(--primaryDark);
    font-weight: 700;

}
.contact{
    padding: 1rem;
    color: var(--white);
}
.footerText{
    margin-top: 2rem;
    /* font-weight: 700; */
    padding: 1rem;
    color: var(--white);
    font-size: 1.2rem;
}

