.homeSections{
   border-bottom: 0.1rem solid var(--grey);
   margin: 5rem auto;
   
   width: 95%;
}
.homeSections:last-of-type{
   border: none;
}
@media (min-width: 768px){
   .homeSections{
      display: grid; 
      grid-template-columns: 1fr 2fr 1fr;  
      gap: 2rem;
      align-items: center;
      padding-bottom: 3rem;
   }
}

.img-jardin{
   margin: 0;
   width: 100%;
   transition: 0.5s;
}
.img-jardin:hover{
   transform: scale(1.1);
   cursor: pointer;
}
.text-jardin{
   line-height: 2.5rem;
   margin: 1rem;
}
.title-link{
   text-align: center;
   margin: 2rem;
}
.button-home{
   display: flex;
   justify-content: center;
   margin-bottom: 5rem;
   background-color: var(--primary);
   text-transform: uppercase;
   padding: 1rem;
   border-radius: .5rem;
}
.button-home:hover{
   background-color: var(--secondary);
   transition: .5s;

}
.social{
   margin: 2rem;
   display: flex;
   justify-content: space-around;
}
.icon-tabler:hover{
  transform: scale(1.2);
  cursor: pointer;
   
}

