.homeSections{
   display: grid; 
   grid-template-columns: 1fr 2fr;  
   gap: 2rem;
}
.img-jardin{
   margin: 2rem;
   width: 80%;
   height: 80%;
}
.social{
   margin: 2rem;
   display: flex;
   justify-content: space-around;
}
.icon-tabler:hover{
  transform: scale(1.2);
  cursor: pointer;
   
}

