@media (min-width: 768px){
    .container_nosotros{
        display: flex;
        gap: 2rem;
        align-items: center;
    }
}

.img_nosotros{    
    margin: 0;
    border-radius: 1rem;
}
.text_nosotros{
    line-height: 3rem;
    text-align: left;
    font-size: 1.6rem;

}