.container_nosotros{
    text-align: center;

}
@media (min-width: 768px){
    .container_nosotros{
        display: flex;
        gap: 2rem;
        align-items: center;
    }
}


.img_nosotros{    
    width: 100%;
    margin: 1rem;
   
}
.text_nosotros{
    margin: 1rem;
    line-height: 3rem;
    text-align: left;
    font-size: 1.6rem;

}